<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PYTHONPATH" value="E:\production\feedbacksystem\invent\feedback-system" />
    <add key="WSGI_HANDLER" value="invent.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="invent.settings" />
  </appSettings>
    <location path="" overrideMode="Deny">
        <system.webServer>
        </system.webServer>
    </location>
    <location path="" overrideMode="Allow">
        <system.webServer>
    <handlers>
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="E:\production\feedbacksystem\venv\Scripts\python.exe|E:\production\feedbacksystem\venv\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
        </system.webServer>
    </location>
</configuration>