{% extends 'invent_app/myadmin/base.html' %}
{% load static %}
{% block title %}
  Dashboard | {{ user.role }}
{% endblock %}
{% load translation %}

{% block xtra_css %}
  <style></style>
{% endblock %}

{% block main_content %}
<div class="page-wrapper">
  <div class="content">
    <div class="row">
      <div class="col-xl-12 col-sm-12 col-12 d-flex">
        <div class="card flex-fill">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="card-title mb-0">Create Feedback</h5>
            <div class="graph-sets">
              <div class="view-all-link">
                <a href="javascript:void(0);" class="view-all d-flex align-items-center">View All<span class="ps-2 d-flex align-items-center"><i data-feather="arrow-right" class="feather-16"></i></span></a>
              </div>
            </div>
          </div>

          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary">Submit Feedback</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock main_content %}
  {% block xtra_js %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $('#feedback-input').autocomplete({
          source: function (request, response) {
            $.ajax({
              url: "{% url 'search_feedback_logs' %}",
              data: {
                term: request.term
              },
              dataType: 'json',
              success: function (data) {
                response(
                  $.map(data, function (item) {
                    return {
                      label: item.recent_feedback,
                      value: item.recent_feedback
                    }
                  })
                )
              }
            })
          },
          minLength: 2,
          select: function (event, ui) {
            $('#feedback-input').val(ui.item.value)
          }
        })
      })
    </script>
  {% endblock %}
</div>
