{% extends 'invent_app/myadmin/base.html' %}
{% load static %}
{% block title %}
  Dashboard | Admin
{% endblock %}
{% block xtra_css %}
  <style>
    .status {
      padding: 5px; /* adjust padding as needed */
    }
    .open {
      background-color: #4caf50; /* green dot color */
    }
    .close-status {
      background-color: #f90707;
    }
    .dot {
      height: 10px;
      width: 10px;
      border-radius: 50%; /* shape the dot */
      display: inline-block;
      margin-right: 5px; /* adjust space between dot and text */
    }
  </style>
{% endblock %}
{% block main_content %}
  <div class="page-wrapper">
    <div class="content">
      <div class="row">
        <div class="col-xl-12 col-sm-12 col-12 d-flex">
          <div class="card flex-fill">
            <div class="card-header d-flex justify-content-between align-items-center">
              <div class="row col-12">
              <div class="col-md-8"><h5 class="card-title mb-0">Feedback List</h5></div>
              <div class="col-md-4"><a class="btn btn-secondary" href="{% url "feedback_create" %}">Create Feedback</a></div>
              </div>
              <div class="graph-sets">
                <div class="view-all-link">
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive dataview">
                <table class="table dashboard-recent-products datanew">
                  <thead>
                    <tr>
                      <th>Feedback ID</th>
                      <th>Name</th>
                      <th>Mobile</th>
                      <th>Location</th>
                      <th>Sub Location</th>
                      <th>Feedback Type</th>
                      <th>Status</th>
                    </tr>
                  </thead>

                  <tbody>
                    {% for feedback in feedbacks %}
                      <tr>
                        <td><a href="{% url 'feedback_detail' feedback.pk %}">{{feedback.feedback_id}}</a></td>
                        <td>{{feedback.sender.first_name}}{{feedback.sender.last_name}}</td>
                        <td>{{feedback.mobile}}</td>
                        <td>{{feedback.sub_location.mcc.mcc}}</td>
                        <td>{{feedback.sub_location.mpp_loc}}</td>
                        <td>{{feedback.feedback_cat.category}}</td>
                        <td class="status">
                          {% if feedback.is_closed %}
                          <span class="dot close-status"></span>Closed
                          {% else %}
                          <span class="dot open"></span>Open
                          {% endif %}
                        </td>
                      </tr>                      
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block xtra_js %}
  <script>
    $(document).ready(function () {
      var genderList = JSON.parse('{{ gender_list|safe|escapejs }}')
      console.log(genderList)
      var a = document.getElementById('feedback_chart').getContext('2d')
      window.myDoughnut = new Chart(a, {
        type: 'doughnut',
        data: {
          datasets: [
            {
              data: ['Sahayak', 'Farmer'],
              backgroundColor: ['#004b80', '#ff00e0', '#fe5d70', '#6c757d'],
              label: 'Dataset 1'
            }
          ],
          labels: genderList
        },
        options: {
          maintainAspectRatio: !1,
          responsive: !0,
          legend: {
            position: 'bottom'
          },
          title: {
            display: !0,
            text: ''
          },
          animation: {
            animateScale: !0,
            animateRotate: !0
          }
        }
      })
    })
  </script>
{% endblock %}
