{% extends 'invent_app/myadmin/base.html' %}
{% load static %}
{% block title %}
 Dashboard | {{user.role}}
{% endblock %}
{% load translation %}

{% block xtra_css %}
<style>
  /* Custom styles for select dropdown */
  .custom-select-wrapper {
    position: relative;
    display: inline-block;
    width: 200px; /* Adjust width as needed */
  }
  
  .custom-select {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;utf8,<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 9l5 5 5-5H7z" fill="#000"/></svg>'); /* Custom arrow icon */
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 15px;
  }
  
  .custom-select option {
    padding: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #555;
  }
  
  /* Custom styles for dropdown arrow */
  .custom-select::-ms-expand {
    display: none;
  }
  
  /* Custom styles for dropdown arrow in Firefox */
  @-moz-document url-prefix() {
    .custom-select {
      background-image: none !important;
    }
  }
  
  /* Custom styles for dropdown options */
  .custom-options {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 999;
    max-height: 150px; /* Adjust max-height as needed */
    overflow-y: auto;
  }
  
  .custom-option {
    padding: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #555;
    cursor: pointer;
  }
  
  .custom-option:hover {
    background-color: #f0f0f0;
  }
  
  .show {
    display: block;
  }
  .error{
    color: red;
  }
  </style>
{% endblock xtra_css %}

{% block main_content %}
<div class="page-wrapper">
  <div class="content">
    <div class="row">
      <div class="col-xl-12 col-sm-12 col-12 d-flex">
        <div class="card flex-fill">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="card-title mb-0">Create Feedback</h5>
            <div class="graph-sets">
              <div class="view-all-link">
                <a href="javascript:void(0);" class="view-all d-flex align-items-center">View All<span class="ps-2 d-flex align-items-center"><i data-feather="arrow-right" class="feather-16"></i></span></a>
              </div>
            </div>
          </div>
          
          <div class="card-body">
            <form method="post" id="sahayak-feedback-form" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
                <div class="col-lg-6 col-sm-6 col-12">
                  <div class="input-blocks">
                      {{ form.location.label_tag }}
                      {{ form.location }}
                      {% if form.location.errors %}
                          <div class="error">
                              {{ form.location.errors }}
                          </div>
                      {% endif %}
                  </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-12">
                  <div class="input-blocks">
                    {{ form.sub_location.label_tag }}
                      {{ form.sub_location }}
                      {% if form.sub_location.errors %}
                          <div class="error">
                              {{ form.sub_location.errors }}
                          </div>
                      {% endif %}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-sm-6 col-12">
                  <div class="input-blocks">
                    {{ form.feedback_cat.label_tag }}
                      {{ form.feedback_cat }}
                      {% if form.feedback_cat.errors %}
                          <div class="error">
                              {{ form.feedback_cat.errors }}
                          </div>
                      {% endif %}
                  </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-12">
                  <div class="input-blocks">
                      {{ form.mobile.label_tag }}
                      {{ form.mobile }}
                      {% if form.mobile.errors %}
                          <div class="error">
                              {{ form.mobile.errors }}
                          </div>
                      {% endif %}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-sm-12 col-12">
                  <div class="input-blocks">
                    {{ form.message.label_tag }}
                      {{ form.message }}
                      {% if form.message.errors %}
                          <div class="error">
                              {{ form.message.errors }}
                          </div>
                      {% endif %}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-sm-12 col-12">
                  <div class="input-blocks">
                    {{ form.file.label_tag }}
                      {{ form.file }}
                      {% if form.file.errors %}
                          <div class="error">
                              {{ form.file.errors }}
                          </div>
                      {% endif %}
                  </div>
                </div>
              </div>
              <div class="row">
                <button type="submit" class="btn btn-primary">Submit Feedback</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock main_content %}

  {% block xtra_js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(document).ready(function () {

        $.ajax({
          url: '/get_feedback_categories/',
          type: 'GET',
          success: function (data) {
            // Clear existing options
            $('#id_feedback_cat').empty()
  
            // Append new options
            data.forEach(function (category) {
              $('#id_feedback_cat').append(
                $('<option>', {
                  value: category.id,
                  text: category.category
                })
              )
            })
          },
          error: function (xhr, status, error) {
            console.error('Error:', error)
          }
        });
        $('#id_location').change(function() {
          var locationId = $(this).val();
          console.log(locationId)
          // Clear existing options in sub-location dropdown
          $('#id_sub_location').empty();
          
          // Append default option to sub-location dropdown
          $('#id_sub_location').append($('<option>', {
              value: '',
              text: 'Select Sub Location'
          }));

          // Make AJAX request to fetch sub-locations based on selected location
          $.ajax({
            url: '/get_sublocations/',
            type: 'GET',
            data: { location_id: locationId },
            success: function(data) {
                // Iterate over received data and append options to sub-location dropdown
                data.forEach(function(subLocation) {
                    $('#id_sub_location').append($('<option>', {
                        value: subLocation.mpp_loc_code,
                        text: subLocation.mpp_loc
                    }));
                });
            },
            error: function(xhr, status, error) {
                console.error('Error:', error);
            }   
          });
      });
      

      $('#id_sub_location').change(function () {
        var selectedSubLocation = $(this).val();
        console.log('Selected Option '+selectedSubLocation)
        // Iterate over options and set selected attribute for the selected option
        $('#id_sub_location option').each(function() {
            if ($(this).val() === selectedSubLocation) {
                $(this).prop('selected', true);
                console.log($(this).val() === selectedSubLocation)
                //break;
            } else {
                $(this).prop('selected', false);
            }
        });
    });
    
      })
    </script>
  {% endblock %}
</div>
